body {
  background-color: #ffffff;
}
h1 {
  font-weight: 800 bold;
  font-size: 3vw;
}
#filler {
  margin-bottom: 30px;
  padding: 70px, 20px;
}
.banner {
  background-image: url(rilakkuma-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 600;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  z-index: -1;
}
#banner-desc {
  font-weight: 900 lighter;
  font-size: 1.62vw;
}
.banner-content {
  font-family: "Spartan", sans sans-serif;
  text-align: center;
  margin-bottom: 30px;
  padding: 70px 20px;
  color: #ffffff;
}
.box-wrapper {
  display: flex;
  flex-direction: row;
  height: 60vh;
  padding: 10px;
  justify-content: space-around;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
}
.Cassidy {
  background-color: #ebddce;
  width: 20vw;
  height: 60vh;
  padding: 15px;
  border-radius: 25px;
}

.Sticky-Joe {
  background-color: #ebddce;
  width: 20vw;
  height: 60vh;
  padding: 15px;
  border-radius: 25px;
}
.Mike-Whalen {
  background-color: #ebddce;
  width: 20vw;
  height: 60vh;
  padding: 15px;
  border-radius: 25px;
}
.box-header {
  text-align: center;
  color: #412f1b;
}
.box-content {
  text-align: center;
}
.button {
  background-color: #ffc107;
  padding: 10px 20px;
  border-radius: 25px;
  border: #ffc107;
}
.button-text {
  font-family: "Spartan", sans-serif;
  color: black;
}
img {
  height: 15vh;
  position: relative;
}
#bottom {
  margin: 60px;
}
