body {
  background-color: #ffffff;
}
h1 {
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-weight: 800 bold;
  margin: 30px 20px;
}
.box-wrapper {
  display: flex;
  flex-direction: row;
  height: 60vh;
  justify-content: center;
  padding: 10px;
  justify-content: space-around;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
}
.Cassidy {
  border: 5px solid #ffc107;
  background-color: #3f51b5;
  width: 20vw;
  padding: 15px;
}

.Sticky-Joe {
  border: 5px solid #ffc107;
  background-color: #3f51b5;
  width: 20vw;
  padding: 15px;
}
.Mike-Whalen {
  border: 5px solid #ffc107;
  background-color: #3f51b5;
  width: 20vw;
  padding: 15px;
}
.box-header {
  text-align: center;
  color: #bdbdbd;
}
.box-content {
  text-align: center;
}
.button {
  background-color: #ffc107;
  padding: 5px 20px;
}
.button-text {
  font-family: "Spartan", sans-serif;
  color: #212121;
}
img {
  height: 15vh;
  justify-content: space-around;
}
