body {
  background-color: #ffffff;
}
h1 {
  font-weight: 800 bold;
}

.banner {
  font-family: "Spartan", sans sans-serif;
  margin: 90px 20px;
  text-align: center;
  background-image: cat-banner.jpg;
}
.box-wrapper {
  display: flex;
  flex-direction: row;
  height: 60vh;
  padding: 10px;
  justify-content: space-around;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
}
.Cassidy {
  background-color: #3f51b5;
  width: 20vw;
  padding: 15px;
  border-radius: 25px;
}

.Sticky-Joe {
  background-color: #3f51b5;
  width: 20vw;
  padding: 15px;
  border-radius: 25px;
}
.Mike-Whalen {
  background-color: hsl(231, 48%, 48%);
  width: 20vw;
  padding: 15px;
  border-radius: 25px;
}
.box-header {
  text-align: center;
  color: rgb(255, 255, 255);
}
.box-content {
  text-align: center;
}
.button {
  background-color: #ffc107;
  padding: 10px 20px;
  border-radius: 25px;
  border: #ffc107;
}
.button-text {
  font-family: "Spartan", sans-serif;
  color: black;
}
img {
  height: 15vh;
  position: relative;
}
